---

---

<div>
    <svg
        class="self-portrait"
        id="Layer_1_copy"
        data-name="Layer 1 copy"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 631.54 596.57"
        ><circle cx="320" cy="300" r="250" fill="#383C3D"> </circle>
        
        <defs
            ><style>
                .cls-1 {
                    fill: #875c38;
                }
                .cls-2 {
                    fill: #7e502d;
                }
                .cls-3 {
                    fill: #313215;
                }
                .cls-4 {
                    fill: #8e5d38;
                }
                .cls-5 {
                    fill: #7f502a;
                }
                .cls-6 {
                    fill: #202219;
                }
                .cls-7 {
                    fill: #613f1c;
                }
                .cls-8 {
                    fill: #3a2412;
                }
                .cls-9 {
                    fill: #7d522a;
                }
                .cls-10 {
                    fill: #231406;
                }
                .cls-11 {
                    fill: #110a04;
                }
                .cls-12 {
                    fill: #764e2a;
                }
                .cls-13 {
                    fill: #be8d73;
                }
                .cls-14 {
                    fill: #784928;
                }
                .cls-15 {
                    fill: #a46f4c;
                }
                .cls-16 {
                    fill: #8c603f;
                }
                .cls-17 {
                    fill: #8d6645;
                }
                .cls-18 {
                    fill: #b08268;
                }
                .cls-19 {
                    fill: #82512c;
                }
                .cls-20 {
                    fill: #935532;
                }
                .cls-21 {
                    fill: #925b3b;
                }
                .cls-22 {
                    fill: #663a21;
                }
                .cls-23 {
                    fill: #0f0701;
                }
                .cls-24 {
                    fill: #a16d47;
                }
                .cls-25 {
                    fill: #875c3c;
                }
                .cls-26 {
                    fill: #68431e;
                }
                .cls-27 {
                    fill: #aa7b5b;
                }
                .cls-28 {
                    fill: #9c704a;
                }
                .cls-29 {
                    fill: #93633b;
                }
                .cls-30 {
                    fill: #8f6036;
                }
                .cls-31 {
                    fill: #131311;
                }
                .cls-32 {
                    fill: #070705;
                }
                .cls-33 {
                    fill: #83572f;
                }
                .cls-34 {
                    fill: #603b16;
                }
                .cls-35 {
                    fill: #472a11;
                }
                .cls-36 {
                    fill: #ac7a5c;
                }
                .cls-37 {
                    fill: #9c6742;
                }
                .cls-38 {
                    fill: #694224;
                }
                .cls-39 {
                    fill: #653d23;
                }
                .cls-40 {
                    fill: #1c1713;
                }
                .cls-41 {
                    fill: #774f32;
                }
                .cls-42 {
                    fill: #a07052;
                }
                .cls-43 {
                    fill: #885738;
                }
                .cls-44 {
                    fill: #13110f;
                }
                .cls-45 {
                    fill: #ac7e5d;
                }
                .cls-46 {
                    fill: #8a5d36;
                }
                .cls-47 {
                    fill: #996c4c;
                }
                .cls-48 {
                    fill: #ac7d5f;
                }
                .cls-49 {
                    fill: #966948;
                }
                .cls-50 {
                    fill: #a07354;
                }
                .cls-51 {
                    fill: #482a0f;
                }
                .cls-52 {
                    fill: #a46c44;
                }
                .cls-53 {
                    fill: #613f1b;
                }
                .cls-54 {
                    fill: #0e0e0d;
                }
                .cls-55 {
                    fill: #191918;
                }
                .cls-56 {
                    fill: #060606;
                }
                .cls-57 {
                    fill: #563417;
                }
                .cls-58 {
                    fill: #040201;
                }
                .cls-59 {
                    fill: #070703;
                }
                .cls-60 {
                    fill: #090907;
                }
                .cls-61 {
                    fill: #060704;
                }
                .cls-62 {
                    fill: #31200e;
                }
                .cls-63 {
                    fill: #0b0a04;
                }
                .cls-64 {
                    fill: #a97c5a;
                }
                .cls-65 {
                    fill: #2d1c12;
                }
                .cls-66 {
                    fill: #976846;
                }
                .cls-67 {
                    fill: #956841;
                }
                .cls-68 {
                    fill: #482c10;
                }
                .cls-69 {
                    fill: #6b4327;
                }
                .cls-70 {
                    fill: #664838;
                }
                .cls-71 {
                    fill: #6d4727;
                }
                .cls-72 {
                    fill: #955e3e;
                }
                .cls-73 {
                    fill: #ac7654;
                }
                .cls-74 {
                    fill: #945b38;
                }
                .cls-75 {
                    fill: #855733;
                }
                .cls-76 {
                    fill: #7a5330;
                }
                .cls-77 {
                    fill: #66452c;
                }
                .cls-78 {
                    fill: #b58464;
                }
                .cls-79 {
                    fill: #6a3b19;
                }
                .cls-80 {
                    fill: #895230;
                }
                .cls-81 {
                    fill: #a36947;
                }
                .cls-82 {
                    fill: #754524;
                }
                .cls-83 {
                    fill: #9a5543;
                }
                .cls-84 {
                    fill: #99543e;
                }
                .cls-85 {
                    fill: #956241;
                }
                .cls-86 {
                    fill: #99693f;
                }
                .cls-87 {
                    fill: #2b2727;
                }
                .cls-88 {
                    fill: #0c0d0a;
                }
                .cls-89 {
                    fill: #080906;
                }
                .cls-90 {
                    fill: #0f0f0d;
                }
                .cls-91 {
                    fill: #070501;
                }
                .cls-92 {
                    fill: #060605;
                }
                .cls-93 {
                    fill: #181818;
                }
                .cls-94 {
                    fill: #0b0c09;
                }
                .cls-95 {
                    fill: #050603;
                }
                .cls-96 {
                    fill: #0a0b08;
                }
                .cls-97 {
                    fill: #040402;
                }
                .cls-98 {
                    fill: #0a0a08;
                }
                .cls-99 {
                    fill: #4f4f4f;
                }
                .cls-100 {
                    fill: #121310;
                }
                .cls-101 {
                    fill: #030303;
                }
                .cls-102 {
                    fill: #0e0c09;
                }
                .cls-103 {
                    fill: #0c0c0c;
                }
                .cls-104 {
                    fill: #101010;
                }
                .cls-105 {
                    fill: #121111;
                }
                .cls-106 {
                    fill: #090a09;
                }
                .cls-107 {
                    fill: #0b0b0b;
                }
                .cls-108 {
                    fill: #0f0f0f;
                }
                .cls-109 {
                    fill: #080808;
                }
                .cls-110 {
                    fill: #97673e;
                }
                .cls-111 {
                    fill: #0d0d0d;
                }
                .cls-112 {
                    fill: #171715;
                }
                .cls-113 {
                    fill: #0e0e0e;
                }
                .cls-114 {
                    fill: #070707;
                }
                .cls-115 {
                    fill: #040404;
                }
                .cls-116 {
                    fill: #191919;
                }
                .cls-117 {
                    fill: #9e6f50;
                }
                .cls-118 {
                    fill: #a87a5a;
                }
                .cls-119 {
                    fill: #966140;
                }
                .cls-120 {
                    fill: #a07356;
                }
                .cls-121 {
                    fill: #986a48;
                }
                .cls-122 {
                    fill: #9b6a42;
                }
                .cls-123 {
                    fill: #9e7251;
                }
                .cls-124 {
                    fill: #080809;
                }
                .cls-125 {
                    fill: #040501;
                }
                .cls-126 {
                    fill: #0a0806;
                }
                .cls-127 {
                    fill: #93603a;
                }
                .cls-128 {
                    fill: #855d38;
                }
                .cls-129 {
                    fill: #785129;
                }
                .cls-130 {
                    fill: #0d0c09;
                }
                .cls-131 {
                    fill: #5c3c1d;
                }
                .cls-132 {
                    fill: #905e40;
                }
                .cls-133 {
                    fill: #805535;
                }
                .cls-134 {
                    fill: #865a3a;
                }
                .cls-135 {
                    fill: #090a07;
                }
                .cls-136 {
                    fill: #0d0a09;
                }
                .cls-137 {
                    fill: #080905;
                }
                .cls-138 {
                    fill: #060604;
                }
                .cls-139 {
                    fill: #0c0c0b;
                }
                .cls-140 {
                    fill: #171717;
                }
                .cls-141 {
                    fill: #60402a;
                }
                .cls-142 {
                    fill: #86817b;
                }
                .cls-143 {
                    fill: #3a2720;
                }
                .cls-144 {
                    fill: #070400;
                }
                .cls-145 {
                    fill: #83776f;
                }
                .cls-146 {
                    fill: #371a09;
                }
                .cls-147 {
                    fill: #553820;
                }
                .cls-148 {
                    fill: #0e0a03;
                }
                .cls-149 {
                    fill: #c48f77;
                }
                .cls-150 {
                    fill: #b8826c;
                }
                .cls-151 {
                    fill: #0a0c0b;
                }
                .cls-152 {
                    fill: #884b37;
                }
                .cls-153 {
                    fill: #713423;
                }
                .cls-154 {
                    fill: #9b5641;
                }
                .cls-155 {
                    fill: #724326;
                }
            </style></defs
        ><title>me2</title><polygon
            class="cls-1"
            points="308.49 271 308.57 269.49 285.94 253.03 271.54 292.11 271.54 292.11 308.49 271"
        ></polygon><polygon
            class="cls-2"
            points="242.74 255.09 242.87 255.08 242.83 255.03 242.74 255.09"
        ></polygon><polygon
            class="cls-3"
            points="271.54 292.11 271.54 292.11 271.54 292.11 271.54 292.11"
        ></polygon><polygon
            class="cls-4"
            points="290.06 246.86 300.34 242.74 312.69 238.63 322.97 240.69 335.31 236.57 339.43 236.57 318.86 226.29 302.4 240.69 298.44 220.91 297.76 220.45 242.83 255.03 242.87 255.08 285.94 253.03 290.06 246.86"
        ></polygon><polygon
            class="cls-5"
            points="242.87 255.08 261.26 281.83 271.54 292.11 285.94 253.03 242.87 255.08"
        ></polygon><polygon
            class="cls-6"
            points="271.54 292.11 271.54 292.11 271.54 292.11 271.54 292.11"
        ></polygon><polygon
            class="cls-7"
            points="380.57 290.06 381.42 288.25 380.51 288.96 380.57 290.06"
        ></polygon><polygon
            class="cls-8"
            points="376.46 292.11 377.37 291.41 341.49 306.51 347.66 314.74 362.06 302.4 376.46 292.11"
        ></polygon><polygon
            class="cls-9"
            points="377.37 291.41 376.46 292.11 362.06 302.4 347.66 314.74 394.97 316.8 394.97 277.71 381.42 288.25 380.57 290.06 377.37 291.41"
        ></polygon><polygon
            class="cls-10"
            points="306.51 308.57 318.86 318.86 347.66 314.74 341.49 306.51 306.51 308.57"
        ></polygon><polygon
            class="cls-11"
            points="271.54 292.11 288 308.57 318.86 318.86 306.51 308.57 271.54 292.11"
        ></polygon><polygon
            class="cls-12"
            points="308.49 271 271.54 292.11 271.54 292.11 306.51 308.57 308.49 271"
        ></polygon><polygon
            class="cls-13"
            points="331.2 168.69 325.03 172.8 341.49 195.43 331.2 168.69"
        ></polygon><polygon
            class="cls-14"
            points="242.82 255.01 242.74 255.09 242.83 255.03 242.82 255.01"
        ></polygon><polygon
            class="cls-15"
            points="329.14 191.31 327.09 181.03 325.03 172.8 325.03 158.4 325.03 148.11 306.51 172.8 329.14 191.31"
        ></polygon><polygon
            class="cls-16"
            points="380.51 288.96 381.42 288.25 397.03 255.09 376.46 216 380.51 288.96"
        ></polygon><polygon
            class="cls-17"
            points="306.51 172.8 325.03 148.11 292.11 148.11 291.7 149.76 300.34 158.4 306.51 172.8"
        ></polygon><polygon
            class="cls-18"
            points="374.4 178.97 331.2 168.69 341.49 195.43 374.4 178.97"
        ></polygon><polygon
            class="cls-18"
            points="329.14 191.31 335.31 197.49 339.24 199.84 339.43 199.54 341.49 195.43 325.03 172.8 327.09 181.03 329.14 191.31"
        ></polygon><polygon
            class="cls-19"
            points="242.83 255.03 297.76 220.45 294.17 218.06 292.11 209.83 242.82 255.01 242.83 255.03"
        ></polygon><polygon
            class="cls-18"
            points="306.51 187.2 306.51 172.8 300.34 158.4 291.7 149.76 290.06 156.34 300.34 168.69 304.46 170.74 292.11 209.83 300.34 197.49 306.51 187.2"
        ></polygon><polygon
            class="cls-13"
            points="376.46 216 374.4 178.97 341.49 195.43 376.46 216"
        ></polygon><polygon
            class="cls-20"
            points="329.14 191.31 306.51 172.8 306.51 187.2 300.34 197.49 292.11 209.83 312.69 199.54 329.14 191.31"
        ></polygon><polygon
            class="cls-21"
            points="329.14 216 312.69 199.54 292.11 209.83 310.63 220.11 329.14 216"
        ></polygon><polygon
            class="cls-22"
            points="297.76 220.45 298.29 220.11 298.44 220.91 300.34 222.17 310.63 220.11 292.11 209.83 294.17 218.06 297.76 220.45"
        ></polygon><polygon
            class="cls-5"
            points="242.77 254.94 250.97 213.94 233.18 180.33 230.4 201.6 238.63 248.91 242.77 254.94"
        ></polygon><polygon
            class="cls-23"
            points="318.86 318.86 288 308.57 271.54 292.11 271.54 292.11 271.54 292.11 261.26 281.83 242.87 255.08 242.74 255.09 242.77 254.94 238.63 248.91 230.4 201.6 232.46 246.86 250.97 281.83 281.83 310.63 294.17 333.26 347.66 314.74 318.86 318.86"
        ></polygon><polygon
            class="cls-24"
            points="292.11 209.83 267.43 189.26 238.63 174.86 233.44 178.32 233.18 180.33 250.97 213.94 292.11 209.83"
        ></polygon><polygon
            class="cls-25"
            points="397.03 255.09 407.31 201.6 376.46 216 397.03 255.09"
        ></polygon><polygon
            class="cls-26"
            points="265.37 160.46 253.03 154.29 238.63 174.86 248.91 166.63 265.37 160.46"
        ></polygon><polygon
            class="cls-27"
            points="304.46 170.74 300.34 168.69 290.06 170.74 277.71 176.91 273.6 176.91 271.54 176.91 269.49 176.91 263.31 176.91 261.26 176.91 257.14 176.91 250.97 176.91 251.42 176.02 238.63 174.86 267.43 189.26 304.46 170.74"
        ></polygon><polygon
            class="cls-28"
            points="310.63 411.43 341.49 415.54 366.17 411.43 343.54 341.49 310.63 411.43"
        ></polygon><polygon
            class="cls-29"
            points="296.23 364.11 298.29 397.03 310.63 411.43 310 409.37 296.23 364.11"
        ></polygon><polygon
            class="cls-30"
            points="296.23 364.11 310 409.37 310.63 411.43 343.54 341.49 296.23 364.11"
        ></polygon><polygon
            class="cls-31"
            points="244.8 448.46 304.46 423.77 298.29 397.03 244.8 448.46"
        ></polygon><polygon
            class="cls-32"
            points="304.46 423.77 310.63 411.43 298.29 397.03 304.46 423.77"
        ></polygon><polygon
            class="cls-33"
            points="347.66 314.74 294.17 333.26 296.23 364.11 347.66 314.74"
        ></polygon><polygon
            class="cls-34"
            points="325.03 148.11 325.03 158.4 325.03 172.8 331.2 168.69 331.2 164.57 331.2 152.23 331.2 141.94 325.03 148.11"
        ></polygon><polygon
            class="cls-35"
            points="238.63 156.34 236.57 158.4 238.63 174.86 253.03 154.29 238.63 156.34"
        ></polygon><polygon
            class="cls-36"
            points="337.37 166.63 331.2 164.57 331.2 168.69 337.37 166.63"
        ></polygon><polygon
            class="cls-37"
            points="376.46 216 394.97 156.34 374.4 178.97 376.46 216"
        ></polygon><polygon
            class="cls-38"
            points="394.97 156.34 374.4 164.57 374.4 178.97 394.97 156.34"
        ></polygon><polygon
            class="cls-39"
            points="360 165.94 331.2 168.69 374.4 178.97 374.4 164.57 364.11 166.63 360 165.94"
        ></polygon><polygon
            class="cls-40"
            points="271.54 154.29 290.06 156.34 291.7 149.76 290.06 148.11 269.49 146.06 244.8 148.11 238.63 156.34 253.03 154.29 271.54 154.29"
        ></polygon><polygon
            class="cls-41"
            points="292.11 148.11 290.06 148.11 291.7 149.76 292.11 148.11"
        ></polygon><polygon
            class="cls-42"
            points="343.54 137.83 360 131.66 372.34 127.54 314.74 129.6 331.2 141.94 343.54 137.83"
        ></polygon><polygon
            class="cls-43"
            points="325.03 148.11 331.2 141.94 314.74 129.6 290.06 148.11 292.11 148.11 325.03 148.11"
        ></polygon><polygon
            class="cls-40"
            points="343.54 137.83 331.2 141.94 331.2 152.23 337.37 150.17 345.6 146.06 355.89 141.94 364.11 139.89 378.51 137.83 386.74 141.94 392.91 146.06 397.03 150.17 397.03 146.06 390.86 135.77 372.34 127.54 360 131.66 343.54 137.83"
        ></polygon><polygon
            class="cls-44"
            points="296.23 364.11 294.17 333.26 244.8 448.46 298.29 397.03 296.23 364.11"
        ></polygon><polygon
            class="cls-45"
            points="331.2 92.57 314.74 129.6 337.37 121.37 331.2 92.57"
        ></polygon><polygon
            class="cls-46"
            points="407.31 135.77 394.97 156.34 407.31 201.6 407.31 135.77"
        ></polygon><polygon
            class="cls-47"
            points="366.17 125.49 337.37 121.37 314.74 129.6 372.34 127.54 366.17 125.49"
        ></polygon><polygon
            class="cls-48"
            points="314.74 51.43 314.74 129.6 331.2 92.57 314.74 51.43"
        ></polygon><polygon
            class="cls-49"
            points="331.2 92.57 327.09 45.26 304.46 53.49 284.02 62 300.49 98.25 314.74 51.43 331.2 92.57"
        ></polygon><polygon
            class="cls-50"
            points="300.49 98.25 314.74 129.6 314.74 51.43 300.49 98.25"
        ></polygon><polygon
            class="cls-35"
            points="271.54 154.29 253.03 154.29 265.37 160.46 290.06 156.34 271.54 154.29"
        ></polygon><polygon
            class="cls-51"
            points="296.23 364.11 343.54 341.49 347.66 314.74 296.23 364.11"
        ></polygon><polygon
            class="cls-52"
            points="267.43 189.26 292.11 209.83 304.46 170.74 267.43 189.26"
        ></polygon><polygon
            class="cls-53"
            points="343.54 341.49 382.63 337.37 347.66 314.74 343.54 341.49"
        ></polygon><polygon
            class="cls-7"
            points="382.63 337.37 394.97 316.8 347.66 314.74 382.63 337.37"
        ></polygon><polygon
            class="cls-54"
            points="170.74 115.2 158.4 162.51 154.29 234.51 197.49 63.77 170.74 115.2"
        ></polygon><path
            class="cls-55"
            d="M829,658.29l37,59.65s22.63,41.15,26.74,41.15l-20.57-63.78Z"
            transform="translate(-643.89 -244.8)"></path><path
            class="cls-56"
            d="M915.43,761.14l4.11-6.17-26.74,4.12C896.91,759.09,915.43,761.14,915.43,761.14Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-57"
            points="265.37 160.46 281.83 160.46 300.34 168.69 290.06 156.34 265.37 160.46"
        ></polygon><polygon
            class="cls-58"
            points="460.8 133.71 460.11 134.4 460.63 135.44 460.8 133.71"
        ></polygon><polygon
            class="cls-59"
            points="392.91 72 393.94 73.03 393.92 72 392.91 72"
        ></polygon><polygon
            class="cls-60"
            points="448.46 267.43 415.54 300.34 489.6 331.2 448.46 267.43"
        ></polygon><polygon
            class="cls-61"
            points="315.01 454.48 304.46 423.77 244.8 448.46 315.01 454.48"
        ></polygon><polygon
            class="cls-62"
            points="232.46 178.97 233.18 180.33 233.44 178.32 232.46 178.97"
        ></polygon><polygon
            class="cls-63"
            points="528.69 364.11 415.54 300.34 442.29 349.71 528.69 364.11"
        ></polygon><polygon
            class="cls-64"
            points="300.34 98.74 273.6 146.06 314.74 129.6 300.49 98.25 300.34 98.74"
        ></polygon><polygon
            class="cls-65"
            points="421.71 213.94 417.6 176.91 413.49 253.03 421.71 213.94"
        ></polygon><polygon
            class="cls-66"
            points="343.54 213.94 337.37 216 329.14 216 329.14 220.11 327.09 224.23 318.86 226.29 339.43 236.57 347.66 209.83 343.54 213.94"
        ></polygon><polygon
            class="cls-67"
            points="329.14 259.2 309.24 270.57 331.2 306.51 343.54 269.49 341.49 306.51 362.06 279.77 341.49 306.51 377.37 291.41 379.74 289.56 329.14 259.2"
        ></polygon><polygon
            class="cls-68"
            points="377.37 291.41 380.57 290.06 379.74 289.56 377.37 291.41"
        ></polygon><polygon
            class="cls-69"
            points="308.57 269.49 308.49 271 309.24 270.57 308.57 269.49"
        ></polygon><polygon
            class="cls-70"
            points="351.77 164.57 345.6 164.57 337.37 166.63 331.2 168.69 360 165.94 351.77 164.57"
        ></polygon><polygon
            class="cls-71"
            points="379.74 289.56 380.57 290.06 380.17 289.22 379.74 289.56"
        ></polygon><polygon
            class="cls-72"
            points="370.29 236.57 376.46 216 347.66 209.83 370.29 236.57"
        ></polygon><polygon
            class="cls-73"
            points="329.14 259.2 306.51 257.14 285.94 253.03 308.57 269.49 309.24 270.57 329.14 259.2"
        ></polygon><polygon
            class="cls-74"
            points="347.66 209.83 376.46 216 345.6 203.66 347.66 209.83"
        ></polygon><polygon
            class="cls-75"
            points="380.38 289.06 380.51 288.96 376.46 216 370.29 236.57 380.38 289.06"
        ></polygon><polygon
            class="cls-76"
            points="380.17 289.22 380.57 290.06 380.38 289.06 380.17 289.22"
        ></polygon><polygon
            class="cls-77"
            points="380.57 290.06 380.51 288.96 380.38 289.06 380.57 290.06"
        ></polygon><polygon
            class="cls-78"
            points="331.2 306.51 309.24 270.57 308.49 271 306.51 308.57 341.49 306.51 343.54 269.49 331.2 306.51"
        ></polygon><polygon
            class="cls-79"
            points="329.14 220.11 329.14 216 310.63 220.11 318.86 226.29 327.09 224.23 329.14 220.11"
        ></polygon><polygon
            class="cls-80"
            points="343.54 213.94 347.66 209.83 345.6 203.66 339.24 199.84 329.14 216 337.37 216 343.54 213.94"
        ></polygon><polygon
            class="cls-81"
            points="335.31 197.49 329.14 191.31 312.69 199.54 329.14 216 339.24 199.84 335.31 197.49"
        ></polygon><polygon
            class="cls-82"
            points="300.34 222.17 298.44 220.91 302.4 240.69 318.86 226.29 310.63 220.11 300.34 222.17"
        ></polygon><polygon
            class="cls-19"
            points="297.76 220.45 298.44 220.91 298.29 220.11 297.76 220.45"
        ></polygon><polygon
            class="cls-83"
            points="312.69 246.86 322.97 246.86 343.54 244.8 357.94 242.74 368.23 242.74 362.06 238.63 347.66 236.57 339.43 236.57 335.31 236.57 322.97 240.69 312.69 238.63 300.34 242.74 290.06 246.86 285.94 253.03 294.17 250.97 312.69 246.86"
        ></polygon><polygon
            class="cls-84"
            points="329.14 259.2 345.6 253.03 357.94 242.74 343.54 244.8 322.97 246.86 294.17 250.97 285.94 253.03 306.51 257.14 329.14 259.2"
        ></polygon><polygon
            class="cls-85"
            points="362.06 238.63 368.23 242.74 370.29 236.57 347.66 209.83 339.43 236.57 347.66 236.57 362.06 238.63"
        ></polygon><polygon
            class="cls-74"
            points="339.43 199.54 339.24 199.84 345.6 203.66 376.46 216 341.49 195.43 339.43 199.54"
        ></polygon><polygon
            class="cls-86"
            points="357.94 242.74 380.17 289.22 380.38 289.06 370.29 236.57 368.23 242.74 357.94 242.74"
        ></polygon><polygon
            class="cls-28"
            points="345.6 253.03 329.14 259.2 379.74 289.56 380.17 289.22 357.94 242.74 345.6 253.03"
        ></polygon><path
            class="cls-87"
            d="M983.31,763.2s-43.2-12.34-45.25-14.4l59.65,92.57V761.14Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-88"
            points="393.94 73.03 415.54 94.63 427.66 72.42 427.43 72 393.92 72 393.94 73.03"
        ></polygon><polygon
            class="cls-88"
            points="427.43 72 421.71 61.71 392.91 24.69 393.92 72 427.43 72"
        ></polygon><polygon
            class="cls-89"
            points="427.89 72 427.43 72 427.66 72.42 427.89 72"
        ></polygon><polygon
            class="cls-90"
            points="378.51 102.86 390.86 115.2 394.95 120.31 393.94 73.03 392.91 72 393.92 72 392.91 24.69 368.23 67.89 378.51 102.86"
        ></polygon><polygon
            class="cls-91"
            points="415.54 94.63 436.11 158.4 427.98 72.99 427.66 72.42 415.54 94.63"
        ></polygon><polygon
            class="cls-92"
            points="427.98 72.99 427.89 72 427.66 72.42 427.98 72.99"
        ></polygon><polygon
            class="cls-93"
            points="460.11 134.4 442.29 98.74 427.98 72.99 436.11 158.4 460.11 134.4"
        ></polygon><polygon
            class="cls-94"
            points="236.57 24.69 197.49 63.77 244.8 111.09 236.57 24.69"
        ></polygon><polygon
            class="cls-88"
            points="368.23 67.89 392.91 24.69 335.31 51.43 368.23 67.89"
        ></polygon><polygon
            class="cls-94"
            points="261.26 84.34 279.77 63.77 283.84 62.08 283.89 61.71 236.57 24.69 244.8 111.09 261.26 84.34"
        ></polygon><polygon
            class="cls-95"
            points="197.49 63.77 154.29 234.51 244.8 111.09 197.49 63.77"
        ></polygon><polygon
            class="cls-90"
            points="312.69 2.06 325.03 10.29 329.14 12.34 329.14 0 300.34 0 236.57 24.69 283.89 61.71 312.69 2.06"
        ></polygon><polygon
            class="cls-54"
            points="335.31 51.43 392.91 24.69 368.23 8.23 335.31 0 329.14 0 329.14 12.34 335.31 51.43"
        ></polygon><polygon
            class="cls-96"
            points="547.2 384.69 547.2 353.83 528.69 364.11 547.2 384.69"
        ></polygon><polygon
            class="cls-32"
            points="536.91 382.63 547.2 384.69 528.69 364.11 536.91 382.63"
        ></polygon><polygon
            class="cls-97"
            points="528.69 364.11 528.69 298.29 489.6 331.2 528.69 364.11"
        ></polygon><polygon
            class="cls-63"
            points="547.2 353.83 528.69 298.29 528.69 364.11 547.2 353.83"
        ></polygon><polygon
            class="cls-98"
            points="442.29 349.71 536.91 382.63 528.69 364.11 442.29 349.71"
        ></polygon><polygon
            class="cls-99"
            points="407.31 390.86 536.91 382.63 442.29 349.71 407.31 390.86"
        ></polygon><path
            class="cls-100"
            d="M1125.26,479.31s4.11-49.37,2-51.42l-26.74-6.18Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-101"
            points="415.54 300.34 448.46 267.43 489.6 331.2 528.69 298.29 413.49 253.03 415.54 300.34"
        ></polygon><path
            class="cls-102"
            d="M1127.31,427.89c-2-2.06-20.57-43.2-20.57-43.2l-2.22-4.45-4,41.47Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-58"
            points="456.69 176.91 460.63 135.44 460.11 134.4 436.11 158.4 456.69 176.91"
        ></polygon><polygon
            class="cls-100"
            points="421.71 213.94 413.49 253.03 528.69 298.29 421.71 224.23 481.37 234.51 417.6 176.91 421.71 213.94"
        ></polygon><path
            class="cls-101"
            d="M1172.57,543.09s-26.74-30.86-28.8-32.92-18.51-30.86-18.51-30.86L1065.6,469Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-99"
            points="493.71 487.54 586.29 596.57 600.69 497.83 493.71 487.54"
        ></polygon><polygon
            class="cls-103"
            points="275.66 510.17 271.54 596.57 353.83 596.57 294.17 504 275.66 510.17"
        ></polygon><polygon
            class="cls-104"
            points="244.8 111.09 154.29 234.51 193.37 259.2 244.8 111.09"
        ></polygon><path
            class="cls-56"
            d="M915.43,761.14s-18.52-2-22.63-2-26.74-41.15-26.74-41.15l-37-59.65,10.28,45.25,14.4,57.6s6.18,43.2,6.18,45.26-12.35,18.51-12.35,18.51l2.06-20.57-8.23-35-10.28,20.57-24.69,8.23S827,779.66,829,777.6s-6.17-45.26-6.17-45.26l-26.75,8.23-14.4,41.14-2.05,20.58,20.57,37-28.8-4.11L643.89,777.6v63.77H915.43L845.49,724.11l69.94,117.26,4.11-86.4Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-105"
            points="106.97 528.69 115.2 481.37 0 532.8 127.54 590.4 106.97 528.69"
        ></polygon><polygon
            class="cls-106"
            points="24.69 464.91 115.2 481.37 74.06 397.03 39.09 444.34 0 499.89 0 532.8 115.2 481.37 24.69 464.91"
        ></polygon><polygon
            class="cls-99"
            points="353.83 596.57 436.11 596.57 394.43 541.76 353.83 596.57"
        ></polygon><polygon
            class="cls-87"
            points="394.43 541.76 394.97 541.03 394.43 541.76 436.11 596.57 471.09 532.8 506.06 596.57 586.29 596.57 325.03 450.51 394.43 541.76"
        ></polygon><polygon
            class="cls-87"
            points="602.74 501.94 571.89 425.83 493.71 487.54 600.69 497.83 586.29 596.57 627.43 559.54 586.29 596.57 631.54 596.57 631.54 567.77 602.74 501.94"
        ></polygon><polygon
            class="cls-99"
            points="436.11 596.57 506.06 596.57 471.09 532.8 436.11 596.57"
        ></polygon><polygon
            class="cls-87"
            points="571.89 425.83 536.91 382.63 407.31 390.86 571.89 425.83"
        ></polygon><polygon
            class="cls-90"
            points="109.03 423.77 74.06 397.03 115.2 481.37 109.03 423.77"
        ></polygon><polygon
            class="cls-107"
            points="325.03 450.51 335.31 477.26 327.09 489.6 353.83 516.34 353.83 596.57 394.43 541.76 325.03 450.51"
        ></polygon><path
            class="cls-108"
            d="M822.86,732.34s8.23,43.2,6.17,45.26-22.63,20.57-22.63,20.57l24.69-8.23,10.28-20.57,8.23,35-2.06,20.57s12.35-16.45,12.35-18.51-6.18-45.26-6.18-45.26l-14.4-57.6L829,658.29l-32.92,82.28Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-109"
            points="106.97 528.69 127.54 590.4 115.2 481.37 106.97 528.69"
        ></polygon><polygon
            class="cls-105"
            points="228.34 450.51 220.11 413.49 174.86 333.26 117.26 362.06 185.14 413.49 228.34 450.51"
        ></polygon><polygon
            class="cls-110"
            points="366.17 411.43 407.31 390.86 343.54 341.49 366.17 411.43"
        ></polygon><polygon
            class="cls-100"
            points="154.29 234.51 137.83 306.51 117.26 362.06 174.86 333.26 154.29 234.51"
        ></polygon><polygon
            class="cls-111"
            points="193.37 259.2 154.29 234.51 174.86 333.26 193.37 259.2"
        ></polygon><polygon
            class="cls-112"
            points="127.54 590.4 135.77 557.49 115.2 481.37 127.54 590.4"
        ></polygon><polygon
            class="cls-113"
            points="185.14 413.49 117.26 362.06 115.2 481.37 185.14 413.49"
        ></polygon><polygon
            class="cls-114"
            points="115.2 481.37 117.26 362.06 109.03 423.77 115.2 481.37"
        ></polygon><polygon
            class="cls-115"
            points="135.77 557.49 137.83 536.91 152.23 495.77 115.2 481.37 135.77 557.49"
        ></polygon><polygon
            class="cls-56"
            points="152.23 495.77 185.14 413.49 115.2 481.37 152.23 495.77"
        ></polygon><polygon
            class="cls-106"
            points="117.26 362.06 74.06 397.03 109.03 423.77 117.26 362.06"
        ></polygon><polygon
            class="cls-116"
            points="156.34 594.51 131.66 576 156.34 594.51 135.77 557.49 127.54 590.4 156.34 594.51"
        ></polygon><polygon
            class="cls-117"
            points="395.38 120.85 394.95 120.31 394.97 121.37 395.38 120.85"
        ></polygon><polygon
            class="cls-118"
            points="366.17 125.49 368.23 67.89 337.37 121.37 366.17 125.49"
        ></polygon><polygon
            class="cls-119"
            points="392.91 119.31 366.17 125.49 372.34 127.54 390.86 135.77 397.03 146.06 397.03 150.17 392.91 146.06 386.74 141.94 378.51 137.83 364.11 139.89 355.89 141.94 345.6 146.06 337.37 150.17 331.2 152.23 331.2 164.57 339.43 156.34 351.77 150.17 362.06 148.11 376.46 148.11 386.74 154.29 388.8 156.34 386.74 158.4 374.4 164.57 394.97 156.34 407.31 135.77 395.38 120.85 394.97 121.37 394.95 120.31 390.86 115.2 378.51 102.86 368.23 67.89 366.17 125.49 392.91 119.31"
        ></polygon><polygon
            class="cls-93"
            points="407.31 135.77 415.54 94.63 395.38 120.85 407.31 135.77"
        ></polygon><polygon
            class="cls-59"
            points="415.54 94.63 393.94 73.03 394.95 120.31 395.38 120.85 415.54 94.63"
        ></polygon><polygon
            class="cls-120"
            points="331.2 92.57 368.23 67.89 335.31 51.43 329.14 12.34 325.03 10.29 327.09 45.26 331.2 92.57"
        ></polygon><polygon
            class="cls-121"
            points="283.89 61.71 283.84 62.08 284.02 62 283.89 61.71"
        ></polygon><polygon
            class="cls-122"
            points="337.37 121.37 368.23 67.89 331.2 92.57 337.37 121.37"
        ></polygon><polygon
            class="cls-123"
            points="300.34 98.74 300.49 98.25 284.02 62 283.84 62.08 273.6 146.06 300.34 98.74"
        ></polygon><polygon
            class="cls-124"
            points="304.46 53.49 327.09 45.26 325.03 10.29 312.69 2.06 283.89 61.71 284.02 62 304.46 53.49"
        ></polygon><polygon
            class="cls-125"
            points="436.11 158.4 415.54 94.63 407.31 135.77 436.11 158.4"
        ></polygon><polygon
            class="cls-9"
            points="394.97 316.8 382.63 337.37 442.29 349.71 411.43 335.31 394.97 316.8"
        ></polygon><polygon
            class="cls-126"
            points="415.54 300.34 413.49 253.03 397.03 318.86 415.54 300.34"
        ></polygon><polygon
            class="cls-127"
            points="233.44 178.32 238.63 174.86 236.57 158.4 238.63 156.34 244.8 148.11 269.49 146.06 290.06 148.11 314.74 129.6 273.6 146.06 253.03 98.74 273.6 146.06 283.84 62.08 279.77 63.77 261.26 84.34 244.8 111.09 236.57 154.29 233.44 178.32"
        ></polygon><polygon
            class="cls-128"
            points="407.31 390.86 442.29 349.71 382.63 337.37 407.31 390.86"
        ></polygon><polygon
            class="cls-129"
            points="343.54 341.49 407.31 390.86 382.63 337.37 343.54 341.49"
        ></polygon><polygon
            class="cls-61"
            points="417.6 176.91 456.69 176.91 436.11 158.4 407.31 135.77 417.6 176.91"
        ></polygon><polygon
            class="cls-130"
            points="394.97 316.8 411.43 335.31 442.29 349.71 415.54 300.34 397.03 318.86 413.49 253.03 394.97 277.71 394.97 316.8"
        ></polygon><polygon
            class="cls-131"
            points="413.49 253.03 417.6 176.91 407.31 201.6 413.49 253.03"
        ></polygon><polygon
            class="cls-87"
            points="366.17 411.43 571.89 425.83 407.31 390.86 366.17 411.43"
        ></polygon><polygon
            class="cls-132"
            points="397.03 255.09 413.49 253.03 407.31 201.6 397.03 255.09"
        ></polygon><polygon
            class="cls-133"
            points="381.42 288.25 394.97 277.71 413.49 253.03 397.03 255.09 381.42 288.25"
        ></polygon><polygon
            class="cls-134"
            points="407.31 201.6 417.6 176.91 407.31 135.77 407.31 201.6"
        ></polygon><polygon
            class="cls-112"
            points="228.34 450.51 248.91 514.29 275.66 510.17 255.09 483.43 228.34 450.51"
        ></polygon><polygon
            class="cls-113"
            points="174.86 333.26 220.11 413.49 250.97 281.83 174.86 333.26"
        ></polygon><path
            class="cls-113"
            d="M888.69,693.26l49.37-115.2L872.23,695.31S886.63,689.14,888.69,693.26Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-135"
            points="244.8 448.46 327.09 489.6 315.01 454.48 244.8 448.46"
        ></polygon><polygon
            class="cls-31"
            points="220.11 413.49 228.34 450.51 294.17 333.26 220.11 413.49"
        ></polygon><path
            class="cls-136"
            d="M888.69,693.26c2,4.11,47.31,53.48,49.37,55.54L936,726.17Z"
            transform="translate(-643.89 -244.8)"></path><path
            class="cls-56"
            d="M872.23,695.31,899,728.23,919.54,755l18.52-6.17c-2.06-2.06-47.32-51.43-49.37-55.54S872.23,695.31,872.23,695.31Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-95"
            points="292.11 481.37 327.09 489.6 244.8 448.46 292.11 481.37"
        ></polygon><polygon
            class="cls-102"
            points="315.01 454.48 316.8 454.63 315.01 454.48 327.09 489.6 335.31 477.26 325.03 450.51 304.46 423.77 315.01 454.48"
        ></polygon><path
            class="cls-32"
            d="M938.06,748.8c2.05,2.06,45.25,14.4,45.25,14.4l-20.57-18.51Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-137"
            points="292.11 481.37 294.17 504 318.86 499.89 339.43 518.4 353.83 516.34 310.63 495.77 292.11 481.37"
        ></polygon><polygon
            class="cls-138"
            points="310.63 495.77 353.83 516.34 327.09 489.6 292.11 481.37 310.63 495.77"
        ></polygon><polygon
            class="cls-130"
            points="281.83 310.63 250.97 281.83 220.11 413.49 294.17 333.26 281.83 310.63"
        ></polygon><polygon
            class="cls-99"
            points="493.71 487.54 571.89 425.83 366.17 411.43 493.71 487.54"
        ></polygon><polygon
            class="cls-139"
            points="230.4 201.6 233.18 180.33 232.46 178.97 233.44 178.32 236.57 154.29 244.8 111.09 193.37 259.2 232.46 246.86 230.4 201.6"
        ></polygon><polygon
            class="cls-93"
            points="232.46 246.86 174.86 333.26 250.97 281.83 232.46 246.86"
        ></polygon><polygon
            class="cls-140"
            points="193.37 259.2 174.86 333.26 232.46 246.86 193.37 259.2"
        ></polygon><polygon
            class="cls-113"
            points="341.49 415.54 310.63 411.43 493.71 487.54 366.17 411.43 341.49 415.54"
        ></polygon><polygon
            class="cls-87"
            points="304.46 423.77 325.03 450.51 493.71 487.54 310.63 411.43 304.46 423.77"
        ></polygon><polygon
            class="cls-141"
            points="364.11 166.63 374.4 164.57 360 165.94 364.11 166.63"
        ></polygon><path
            class="cls-142"
            d="M1014.17,397h-12.34l-8.23,2.06-6.17,4.11-4.12,4.11-2,4.12,8.23-2.06h6.17l8.23,1.37,14.4-1.37,12.34-6.17-8.23-4.11Zm0,6.17v2.06l-2.06,2.05-2.05,2.06H999.77l-2.06-2.06-2.05-4.11,2.05-4.11h14.4l2.06,2.05Z"
            transform="translate(-643.89 -244.8)"></path><polygon
            class="cls-143"
            points="339.43 162.51 343.54 158.4 349.71 154.29 357.94 152.23 370.29 152.23 378.51 154.29 386.74 158.4 388.8 156.34 386.74 154.29 376.46 148.11 362.06 148.11 351.77 150.17 339.43 156.34 331.2 164.57 337.37 166.63 339.43 162.51"
        ></polygon><polygon
            class="cls-144"
            points="353.83 154.29 351.77 158.4 353.83 162.51 355.89 164.57 362.06 164.57 366.17 164.57 368.23 162.51 370.29 160.46 370.29 158.4 370.29 156.34 368.23 154.29 353.83 154.29"
        ></polygon><polygon
            class="cls-145"
            points="250.97 176.91 257.14 176.91 261.26 176.91 251.42 176.02 250.97 176.91"
        ></polygon><polygon
            class="cls-146"
            points="253.03 172.8 255.09 168.69 257.14 166.63 261.26 164.57 265.37 162.51 267.43 162.51 269.49 162.51 273.6 162.51 277.71 164.57 281.83 166.63 285.94 168.69 290.06 170.74 300.34 168.69 281.83 160.46 265.37 160.46 248.91 166.63 238.63 174.86 251.42 176.02 253.03 172.8"
        ></polygon><polygon
            class="cls-147"
            points="277.71 174.86 273.6 176.91 277.71 176.91 290.06 170.74 281.83 172.8 277.71 174.86"
        ></polygon><polygon
            class="cls-142"
            points="281.83 166.63 277.71 164.57 273.6 162.51 275.66 164.57 277.71 168.69 275.66 172.8 273.6 174.86 271.54 176.91 273.6 176.91 277.71 174.86 281.83 172.8 290.06 170.74 285.94 168.69 281.83 166.63"
        ></polygon><polygon
            class="cls-142"
            points="257.14 166.63 255.09 168.69 253.03 172.8 251.42 176.02 261.26 176.91 263.31 176.91 259.2 172.8 257.14 166.63"
        ></polygon><polygon
            class="cls-148"
            points="275.66 172.8 277.71 168.69 275.66 164.57 273.6 162.51 269.49 162.51 267.43 162.51 265.37 162.51 261.26 164.57 257.14 166.63 259.2 172.8 263.31 176.91 269.49 176.91 271.54 176.91 273.6 174.86 275.66 172.8"
        ></polygon><polygon
            class="cls-101"
            points="417.6 176.91 481.37 234.51 456.69 176.91 417.6 176.91"
        ></polygon><polygon
            class="cls-98"
            points="489.6 331.2 415.54 300.34 528.69 364.11 489.6 331.2"
        ></polygon><polygon
            class="cls-149"
            points="407.31 201.6 394.97 156.34 376.46 216 407.31 201.6"
        ></polygon><polygon
            class="cls-78"
            points="242.77 254.94 242.74 255.09 242.82 255.01 242.77 254.94"
        ></polygon><polygon
            class="cls-150"
            points="292.11 209.83 250.97 213.94 242.77 254.94 242.82 255.01 292.11 209.83"
        ></polygon><polygon
            class="cls-151"
            points="325.03 450.51 586.29 596.57 493.71 487.54 325.03 450.51"
        ></polygon><polygon
            class="cls-152"
            points="362.06 238.63 343.54 244.8 339.43 236.57 362.06 238.63"
        ></polygon><polygon
            class="cls-153"
            points="312.69 246.86 290.06 246.86 285.94 253.03 312.69 246.86"
        ></polygon><polygon
            class="cls-84"
            points="322.97 240.69 312.69 246.86 312.69 238.63 322.97 240.69"
        ></polygon><polygon
            class="cls-153"
            points="312.69 246.86 312.69 238.63 290.06 246.86 312.69 246.86"
        ></polygon><polyline
            class="cls-154"
            points="322.97 240.69 312.69 246.86 343.54 244.8"
        ></polyline><polygon
            class="cls-83"
            points="322.97 240.69 343.54 244.8 339.43 236.57 335.31 236.57 322.97 240.69"
        ></polygon><polygon
            class="cls-28"
            points="362.06 238.63 368.23 242.74 357.94 242.74 362.06 238.63"
        ></polygon><polygon
            class="cls-152"
            points="312.69 246.86 343.54 244.8 329.14 259.2 312.69 246.86"
        ></polygon><polygon
            class="cls-84"
            points="329.14 259.2 312.69 246.86 285.94 253.03 308.57 257.14 329.14 259.2"
        ></polygon><polygon
            class="cls-84"
            points="345.6 253.03 362.06 238.63 343.54 244.8 345.6 253.03"
        ></polygon><polygon
            class="cls-84"
            points="329.14 259.2 343.54 244.8 345.6 253.03 329.14 259.2"
        ></polygon><polyline
            class="cls-39"
            points="386.74 158.4 382.63 156.34 374.4 164.57"
        ></polyline><polyline
            class="cls-39"
            points="339.43 166.63 343.54 158.4 339.43 162.51 337.37 166.63"
        ></polyline><polygon
            class="cls-144"
            points="370.29 156.34 368.23 152.23 357.94 152.23 353.83 154.29 370.29 156.34"
        ></polygon><polyline
            class="cls-155"
            points="351.77 158.4 351.77 154.29 357.94 152.23"></polyline></svg
    >
</div>

<style lang="scss">
    @for $i from 0 through 155 {
        .cls-#{$i} {
            &:hover {
                animation: none;
                cursor: pointer;
            }
        }
    }

    .cls-13,
    .cls-14,
    .cls-309,
    .cls-164,
    .cls-144,
    .cls-295,
    .cls-164,
    .cls-52,
    .cls-11,
    .cls-299 {
        animation: none;
    }

    .self-portrait {
        padding: 10px;
    }

    .self-portrait polygon:hover {
        fill-opacity: 0;
        stroke: papayawhip;
        stroke-width: 1;
        stroke-dasharray: 252;
        stroke-dashoffset: 252;
        animation: draw 3s linear forwards;
    }

    @keyframes draw {
        0% {
            fill-opacity: 0;
        }
        60% {
            fill-opacity: 1;
        }
        80% {
            stroke-dashoffset: 0;
            stroke-width: 0;
        }
        100% {
            fill-opacity: 1;
            stroke-width: 0;
            stroke-dashoffset: 0;
        }
    }
</style>
